body {
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(216, 193, 162);
}

.hero {
  background: #ebc1ce;
  padding: 80px 20px;
}

.hero h1 {
  font-weight: 700;
}

section {
  padding: 60px 0;
}

/* Image Box */
.img-box {
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* WhatsApp Button */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 30px;
  padding: 12px 15px;
  border-radius: 50%;
  text-decoration: none;
}